

footer{
    padding: var(--space-10) 0px;
}
.footerInner{
    gap: var(--space-10);
    flex-direction: column;
    justify-content: flex-start;
}
@media screen and (min-width:768px) {
    .footerInner{
        justify-content: space-between;
        flex-direction: row;
    }
}
footer .ulConts{
    width:100%;
    flex-direction: column;

}

footer .ulConts .item{
    margin-bottom: var(--space-3);
}

@media screen and (min-width:768px) {
    footer .ulConts{
        max-width: 500px;
        flex-direction: row;
    
    }
}

footer .item.letterBox{
    background-color: var(--color-accent);
    border-radius: var(--radius-primary);
    padding: var(--space-2) var(--space-3);
    flex-grow: 1;
    width:100%;
}

@media screen and (min-width:768px) {
    
footer .item.letterBox{
    max-width: 500px;
}
}

footer .item.letterBox p{
    margin-bottom: var(--space-3);
}

footer form{
    height: var(--space-5);
    border-radius: var(--space-4);
    background-color: var(--color-primary);
    padding: 4px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
footer form input{
    border:0;
    outline:0;
    font-size: var(--font-size-p);
    border-radius: var(--space-4);
}
footer form input[type="email"]{
    text-indent: var(--space-2);
    flex-grow: 1;
}
footer form input[type="submit"]{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 0 var(--space-2);
    cursor:pointer;
 
}
footer form input[type="submit"]:hover{
    background-color: var(--color-tertiary);
}

footer ul{
    list-style-type: none;
}

footer .item h6{
    margin-bottom: var(--space-2);
}

footer .item a{
    text-decoration: none;
    color: var(--color-secondary);
}
footer .item a:hover{
    color: var(--color-secondary-accent);
}

footer .item li{
    margin-bottom: var(--space-1);
}


.footerSocials{
    margin-top: var(--space-10);
    font-size: var(--font-size-h4);
    gap:var(--space-6);
}

.footerSocials a{
    color: var(--color-secondary);
    transition: .5s;

}
.footerSocials a:hover{
    color: var(--color-accent);

}


