.viewProductSection{

    background-color: var(--color-primary);
    position: fixed;
    top:var(--space-2);
    bottom: var(--space-2);
    left: var(--space-2);
    right: var(--space-2);
    border-radius: var(--space-2);
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.24);
    padding: var(--space-3) var(--space-3);
    z-index: 1000;
}
.viewProductSection .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /* background-color: crimson; */
}

.viewProductSection::-webkit-scrollbar{
    width:3px;
    overflow: hidden;
}
.viewProductSection::-webkit-scrollbar-button{
    display: none;
}
.viewProductSection::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.308);
    border-radius: var(--radius-primary);
}

.viewProductImgCont{
    overflow: hidden;
}

.viewProductInfoCont{
    padding: var(--space-2) 0;
}


.viewProductStars{
    margin-bottom: var(--space-3);
}
.viewProductStars i{
    margin-right: var(--space-half);
}



.viewProductToggle{
    list-style-type: none;
}

.viewProductToggle li{

    padding: var(--space-1);
    margin-bottom: var(--space-half);
    cursor: pointer;
    border-radius: var(--radius-primary);
    transition: .2s;
}

.viewProductToggle li:hover{
    background-color: var(--color-accent);
}

.viewProductToggle li .title{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.viewProductInfoTogglerContent{
    height: 0px;
    overflow: hidden;
}


.secondaryCloseBtn{
    position: fixed;
    top: var(--space-4);
    right: 5%;
    width:40px;
    height: 40px;
    border-radius: var(--space-4);

    font-size: var(--font-size-h4);
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    transition: .4s;
    background-color: var(--color-accent);
    color: var(--color-secondary);
}
.secondaryCloseBtn:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


@media screen and (min-width:768px) {
    .viewProductSection{
        width: 95%;
    }
    .viewProductSection .container{
        flex-direction: row;
        justify-content: space-between;
    margin-top: var(--space-3);

    }
    .viewProductInfoCont{
        padding: var(--space-4) var(--space-4);
        width: 500px;
        min-width: 350px;
    }
    .viewProductImgCont{
        min-width: 300px;
        max-width: 600px;
    }
}